

.transaction-table{
    border:1px solid rgb(3, 0, 0);
    width:100%;
    text-align: left;
    background-color: rgb(238, 244, 234);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding:2px;
    box-sizing: border-box;
    font-size: medium;
    margin-bottom: 47px;

}
.transaction-table thead{
   background-color: #343a40;
   color:white;
   height:54px;
  
  
}
.transaction-table th,.transaction-table td{
    border: 1px solid #dee2e6;
    padding-left:12px;
    height:44px;
   
   
}
.transaction-table tr:hover{
    background-color: #e9ecef;
    transition: background-color 0.2s ease-in-out;
}
.transaction-table thead:hover{
    color:#04223f;
}




.download-pdf-button{

    background-color: #007BFF;
    color:white;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.download-pdf-button:hover{
    background-color: #0056b3;
}

.download-bg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:47px;
    margin-bottom: 12px;
    
}

.TransactionPieChart{
    display: flex;
    flex-direction: row; 
   
}

.pie-chart-heading{
    color: #FFC107;
    margin-top:55px;
    margin-bottom: 40px;
}
.line-chart-heading{
    color: #007BFF;
    margin-top:55px;
    margin-bottom: 40px;

}
.bar-chart-heading{
    color: #28a745;
    margin-top:55px;
    margin-bottom: 40px;

}
.transactions-history{
    color:#007BFF;
    margin-top:55px;
    margin-bottom: 30px;
}


.download-bg-sm{
    display: none;
}

.pie-chart-heading,.bar-chart-heading,.line-chart-heading,.transactions-history{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
  
}


.visual-bg{
    padding:20px;
   
      
   
}

.visual-summary-heading{
    text-align: center;
}

.lottie-animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.empty-expeses-para{
    text-align: center;
}


@media (max-width:768px){
    .transaction-table th,.transaction-table td{
        text-align: left;
        padding-left: 4px;
        
    }
    .transaction-table{
        font-size: 12px;
        margin: 0 auto 40px auto;
    }
    .download-bg{
        display: none;
    }
    .download-bg-sm{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top:47px;
        margin-bottom: 12px;
        height:100px;
        gap: 12px;
    }
   .pie-chart-heading,.bar-chart-heading,.line-chart-heading,.transactions-history{
        text-align: left;
       
    }
    .visual-summary-heading{
        text-align: center;
        
    }
    .visual-bg{
        padding:12px;
    }
    .TransactionPieChart{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download-pdf-button{
        font-size: 14px;
        padding: 8px 16px;
    }
}